#sidebar {
    padding: 40px 40px;
}

#logo {
    background-image: url('../assets/icons/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 200px;
}

.whitespace-large {
    height: 100px;
}

.side-controls {
    display: flex;
    flex-flow: column;
}

.sidebar-btn {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 4px 0;
    color: #404040;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
}

.sidebar-btn > img {
    margin-right: 30px;
}

.sidebar-btn:hover {
    color: #005CFF;
    background-color: rgb(245, 245, 245);
}

.sidebar-btn:hover > .icon {
    filter: invert(50%) sepia(97%) saturate(7467%) hue-rotate(217deg) brightness(102%) contrast(105%);
}