<div class="whitespace"></div>
<div class="search-field horizontal-align align-items-center">
    <img class="icon" src="../assets/icons/icon-search.svg"/>
    <input type="text" placeholder="Enter your search term..."/>
    <a data-ripple="#000" href="#" id="search-btn"><img class="icon" src="../assets/icons/icon-next.svg"/></a>
</div>
<div class="horizontal-align header-controls align-items-center">
    <a data-ripple="#7aa7ff" href="#" class="header-link">
        <img class="icon" src="../assets/icons/icon-cart.svg"/>
        Cart
    </a>
    <a data-ripple="#7aa7ff" href="#" class="header-link">
        <img class="icon" src="../assets/icons/icon-account.svg"/>
        Account
        <img class="icon dropdown" src="../assets/icons/icon-dropdown.svg"/>
    </a>
</div>