<div id="logo"></div>
<div class="align-items-center vertical-align">
    <p class="large-text gray bold">Balance</p>
    <p class="large-text blue bold">30 CET</p>
</div>
<div class="whitespace-large"></div>
<div class="side-controls">
    <a href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-home.svg"/>Home</a>
    <a href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-browse.svg"/>Browse</a>
    <a href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-library.svg"/>My Library</a>
    <a href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-account.svg"/>My Account</a>
</div>
<div class="whitespace-large"></div>
<p class="horizontal-align justify-center">@2020</p>