<div id="logo"></div>
<div class="align-items-center vertical-align">
    <p class="large-text gray bold">Balance</p>
    <p id="balance-text" class="extra-large-text blue bold"></p>
    <a data-ripple="#7aa7ff" href="#" class="btn outlined blue bold">Add Funds</a>
</div>
<div class="whitespace-large"></div>
<div class="side-controls">
    <a data-ripple="#999999" href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-home.svg"/>Home</a>
    <a data-ripple="#999999" href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-browse.svg"/>Browse</a>
    <a data-ripple="#999999" href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-library.svg"/>My Library</a>
    <a data-ripple="#999999" href="#" class="sidebar-btn"><img class="icon" src="../assets/icons/icon-account.svg"/>My Account</a>
</div>
<div class="whitespace-large"></div>
